<div class="container">
  <div class="jumbotron">
    <h1>Wikinimous</h1>
    <p>Welcome to Wikinimous</p>
  </div>

  <h4>Here are all the articles</h4>
  <div class="list-group">
    <% @articles.each do |article| %>
        <%= link_to "#{article.title}", article_path(article), class: "list-group-item" %>
    <% end %>
  </div>

  <%= link_to "New Article", new_article_path, class: "btn btn-primary" %>
</div>
